@using MusicOrganizer.Models;
<h1>Music Organizer</h1>
@if (Model.Count == 0)
{
  <p>There are no artists in the list</p>
}
<ul>
  @foreach (Artist artist in Model)
  {
    <li>@artist.ArtistName</li>
  }
</ul>
<a href="/artists/new">Add a new artist</a>

<form action="/artists/delete" method="post">
  <button type="submit" name="button">Clear All Artists</button>
</form>