<form action="/artists" method="post">
  <label for="artistName">Add a new record to the pile</label>
  <input id="artistName" artistName="artistName" type="text">
  <button type="submit">Submit</button>
</form>